:root {
  --text-principal-light: #5c5f62;
  --background-light: #ffffff;

  --background-input-dark: #151d1e;

  --text-principal-dark: #d7d7db;
  --background-dark: #0d1213;

  --link-color: #b5c9d5;

  --color-docs-border-default: #24393d;
}
