:root {
  --text-principal-light: #5c5f62;
  --background-light: #ffffff;

  --background-input-dark: #151d1e;

  --text-principal-dark: #d7d7db;
  --background-dark: #0d1213;

  --link-color: #b5c9d5;

  --color-docs-border-default: #24393d;

  --color-lime-13: #8cfb80;
  --color-docs-border-default: #24393d;
  --color-azure-10: #9db8f7;
  --color-docs-background-surface-default: #151d1e;
  --color-docs-background-surface-hover: #20292b;
  --color-docs-text-subdued: #8a8f93;
}
